<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vehicle Management</title>
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="css/styles.css" media="screen" >
</head>
<body>
    <div class="wrapper">
    <%- include('../partials/header.ejs')  %>
  <main class="vehicle-management">
    <h1>Vehicle Management</h1>
    <ul class="management-links">
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
    
  </main>
  <%- include('../partials/footer.ejs')  %>
  </div>
</body>
</html>
