
<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs')  %>
<body>
  <div class="wrapper">
    <%- include('./partials/header.ejs')  %>
    <main>
      <h2>Sport vehicles</h2>
      <div class="vehicle-grid">
        <figure class="vehicle-card">
          <img src="./images/vehicles/camaro-tn.jpg" alt="camaro">
          <figcaption><a href="#">Chevy Camaro</a><p>$25,000</p></figcaption>
        </figure>
        <figure class="vehicle-card">
          <img src="./images/vehicles/adventador-tn.jpg" alt="adventador">
          <figcaption><a href="#">Lamborghini adventador</a><p>$417,650</p></figcaption>
        </figure>
      </div>
    </main>

    <footer>
      <p>&copy; 2023, CSE 340 App</p>
      <a href="#" class="error-link">Error Link</a>
    </footer>
  </div>
</body>
</html>
